<!-- First, your background image is a DIV with a background
     image style applied, not a IMG tag. -->
<div class="hero" >
    <!-- Second, create a placeholder div to assist in positioning
         the other images. This is relative to the background div. -->
    <div style="position: relative; left: 0; top: 0;">
        <!-- Now you can place your IMG tags, and position them relative
             to the container we just made -->
        <img src="assets/img/MyNextBook.png" style="position: relative; top: 0; left: 0;" />
    </div>
</div>
<style>
    .hero {
        background-image: url('assets/img/dreamstimemaximum_122355023.jpg');
        background-blend-mode: overlay;
        background-size: 100% 100%;
        opacity: .8;
        background: rgba(0,0,0,0.3);
    }
</style>
