<!-- First, your background image is a DIV with a background
     image style applied, not a IMG tag. -->
<div style="background-image: url(assets/img/dreamstimemaximum_122355023.jpg);">
    <!-- Second, create a placeholder div to assist in positioning
         the other images. This is relative to the background div. -->
    <div style="position: relative; left: 0; top: 0;">
        <!-- Now you can place your IMG tags, and position them relative
             to the container we just made -->
        <img src="assets/img/MyNextBook.png" style="position: relative; top: 0; left: 0;" />
    </div>
</div>
<div class="parent">
    .parent {
    position: relative;
    top: 0;
    left: 0;
    }
    .image1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
    }
    .image2 {
    position: absolute;
    top: 30px;
    left: 30px;
    border: 1px green solid;
    }
    <img class="image1" src="assets/img/dreamstimemaximum_122355023.jpg" />
    <img class="image2" src="assets/img/MyNextBook.png" />
</div>
