<header class="header-1 fullWidth">    
    <div class="page-header">
        <div class="page-header-image" style="background-image: url('{{ '/assets/img/dreamstimemaximum_homepage.jpg' | relative_url }}') "></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
                    <h3 class="display-3">My Next Book</h3>
                    <p class="lead mt-0">A journal of my journey developing a mobile app using Xamarin, Azure, Google, and Apple tools and techniques.</p>
                    <br>

                    <div class="buttons">
                        <a href="/blog" class="btn btn-primary">
                            Read our blog
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class"row">
    {% capture p1 %}{% include components/blog/homebackground.md %}{% endcapture %}
    {{ p1 | markdownify }}
</div>
<div class="section features-6">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="info info-horizontal info-hover-primary">
                    <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                        <i class="ni ni-html5 text-info"></i>
                    </div>
                    <div class="description pl-4">
                        <h5 class="title">How it Started</h5>
                        <p>Being an avid reader of book series I was using a website called fictfact to keep track of my reading for books in a series.  It was a great website provided exactly what was needed no more no less, until it didn't exist anymore...'</p>
                        
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Learn more
                        </button>
                    </div>
                </div>
                <div class="info info-horizontal info-hover-primary">
                    <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                        <i class="ni ni-app text-info"></i>
                    </div>
                    <div class="description pl-4">
                        <h5 class="title">The Vision</h5>
                        <p>A mobile app that allows you to create a collection of book series where you can track what you have read and what's in the queue by series.  Allowing you to maintain a list of the next books to read across all the series in your collection.' </p>
                        <a href="#" class="text-info">Learn more</a>
                    </div>
                </div>
                <div class="info info-horizontal info-hover-primary">
                    <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                        <i class="ni ni-bell-55 text-info"></i>
                    </div>
                    <div class="description pl-4">
                        <h5 class="title">The Big Picture</h5>
                        <p>There is a fair amount of tech involved here and my journal attempts to document my journey.  Utilizing Microsoft: Visual Studio with Xamarin, Azure, B2C, CosmosDB, App Center, along with google's book api, dbpedia knowledge graph and other tools take a look at how it all fits together.'</p>
                        <a href="/features" class="text-info">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-10 mx-md-auto">
                <img class="ml-lg-5" src="{{ '/assets/img/dreamstimemaximum_80666953.jpg' | relative_url }}" width="100%">
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">How it Started</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% capture p1 %}{% include components/blog/avidread.md %}{% endcapture %}
                {{ p1 | markdownify }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>
